<div class="container">
  <div class="flex flex-col justify-center sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        About Siapbantu.com
      </h2>
      <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
        Siapbantu is a clearing house for COVID-19 related projects and volunteers looking to help out.<br/><br/>
        It is run by a team from across the world that is passionate about helping out with the current crisis. Find us on <%= link_to 'Discord', 'https://discord.gg/H4GmnuR', target: '_blank', class: 'text-indigo-500' %> on #siapbantu-com-development.

        <br /><br />
        This site is open-source and we invite your contributions
        <%= link_to "github.com/siapbantu/siapbantu.website", "https://github.com/siapbantu/siapbantu.website", class: 'text-indigo-500' %>
      </p>
    </div>

    <div class="flex flex-col mt-6">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <tbody>
              <% striped_classes_cycle = [ "bg-white", "bg-gray-50" ] %>

              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Ahmad Ainul Rizki
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  Development & DevOps
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "Twitter", "https://twitter.com/shitiomatic", target: "_blank", class: "text-indigo-500", rel: "nofollow noopener noreferrer" %>
                  &nbsp;/&nbsp;
                  <%= link_to "Website", "https://shitiomatic.tech", target: "_blank", class: "text-indigo-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Rachel Lin
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  Design & Illustration
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "GitHub", "https://github.com/racheloveyou", target: "_blank", class: "text-indigo-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="flex flex-col mt-6">
      <div class="shit-parent-class">
        <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
          Website memiliki <span id="pageviews"></span> kunjungan dalam sebulan terakhir.
        </p>
        <div
          class="shit-graph-class"
          data-sa-graph-url="https://simpleanalytics.com/siapbantu.com?color=5c64ec"
          data-sa-page-views-selector="#pageviews"
        >
          <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
            Ad blockers don't like the Simple Analytics embed, disable yours to view
            this graph.
          </p>
        </div>
      </div>

      <script src="https://scripts.simpleanalyticscdn.com/embed.js"></script>

      <style>
        .shit-parent-class {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .shit-graph-class {
          align-self: stretch;
        }
      </style>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
        Started based on a discussion between Ahmad Ainul Rizki &amp; The People.
      </p>

      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Thank you to all volunteers!
      </h2>
    </div>
  </div>
</div>
