<div class="container">
  <div class="flex flex-col justify-center sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Tentang Siapbantu.com
      </h2>
      <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
        Siapbantu adalah platform yang menghubungkan project/startup yang akan dirintis atau sudah berjalan, dengan para makers/human yang siap untuk berkolaborasi.<br/><br/>
        Platform ini bertujuan untuk memajukan dunia creative di Indonesia dan juga mengedukasi masyarakat agar saling berkolaborasi, karena sekarang zamannya kolaborasi bukan kompetisi.<br/><br/>
        Komunitas ini dijalankan oleh beberapa orang yang ingin Indonesia menjadi negara yang maju. Ayo gabung ke komunitas kami di <%= link_to 'Discord', 'https://discord.gg/H4GmnuR', target: '_blank', class: 'text-indigo-500' %> channel <b>#siapbantu-development</b>.

        <br /><br />
        Kegiatan kami bersifat non-profit, tetapi kamu bisa memberikan donasi ke platform kami melalui <%= link_to "link ini", "https://opencollective.com/siapbantu", class: 'text-indigo-500' %> atau langsung ke saya <%= link_to "Ahmad Ainul Rizki", "https://donation.shitiomatic.tech", class: 'text-indigo-500' %>.
      </p>
    </div>

    <div class="flex flex-col mt-6">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <tbody>
              <% striped_classes_cycle = [ "bg-white", "bg-gray-50" ] %>

              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Ahmad Ainul Rizki
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  Development & DevOps
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "GitHub", "https://github.com/shitiomatic", target: "_blank", class: "text-indigo-500", rel: "nofollow noopener noreferrer" %>
                  &nbsp;/&nbsp;
                  <%= link_to "Website", "https://shitiomatic.tech", target: "_blank", class: "text-indigo-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Rachel Lin
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  Design & Illustration
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "GitHub", "https://github.com/racheloveyou", target: "_blank", class: "text-indigo-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Lala Sarasati
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  Project Manager
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "GitHub", "https://github.com/lasarasati", target: "_blank", class: "text-indigo-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="flex flex-col mt-6">
      <div class="shit-parent-class">
        <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
          Statistik Siapbantu.com
        </h2>
        <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
          Website ini memiliki <span id="pageviews"></span> kunjungan dalam sebulan terakhir. Untuk informasi lebih lanjut silahkan <%= link_to "kesini", "https://simpleanalytics.com/siapbantu.com", class: 'text-indigo-500' %>.
        </p>
        <div
          class="shit-graph-class"
          data-sa-graph-url="https://simpleanalytics.com/siapbantu.com?color=5c64ec"
          data-sa-page-views-selector="#pageviews"
        >
          <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
            Ad blockers don't like the Simple Analytics embed, disable yours to view
            this graph.
          </p>
        </div>
      </div>

      <script src="https://scripts.simpleanalyticscdn.com/embed.js"></script>

      <style>
        .shit-parent-class {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .shit-graph-class {
          align-self: stretch;
        }
      </style>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
        Started based on a discussion between Ahmad Ainul Rizki &amp; The People.
      </p>

      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Thank you to all your creative ideas for making Indonesia better!
      </h2>
    </div>
  </div>
</div>
