<div>
  <div>
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        <%= title %>
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        Informasi ini akan ditampilkan untuk umum.
      </p>
    </div>

    <div class="mt-6 sm:mt-5">
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="name" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Nama Project
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_field "name", class: "flex-1 form-input block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
          </div>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="short_description" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Jelaskan project kamu dengan singkat
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_field "short_description", maxlength: 129, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Deskripsi singkat tentang project kamu (maks 129 karakter).</p>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="description" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Jelaskan project kamu.
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_area "description", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Tulis beberapa kalimat tentang apa yang kamu buat dan tujuan akhirnya.</p>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="image" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px">
          Banner<br/>
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <% if @project.image.present? %>
            <div class="py-2">
              <%= render partial: 'partials/image-thumbnail', locals: {project: @project} %>
            </div>
          <% end %>

          <%= f.file_field :image, multiple: false, direct_upload: true, onchange: 'Covid.ensureFileType()', accept: 'image/x-png,image/gif,image/jpeg',  class: 'js-projects-image-upload-field py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out' %>
        </div>
      </div>

      <div class="mt-6 sm:mt-5">
        <div class="sm:border-t sm:border-gray-200 sm:pt-5">
          <fieldset>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                  Jenis project
                </legend>
              </div>
              <div class="mt-4 sm:mt-0 sm:col-span-2">
                <div class="max-w-lg">
                  <% ALL_PROJECT_TYPES.each do |project_type| %>
                    <div class="relative flex items-start">
                      <div class="absolute flex items-center h-5">
                      <%= f.check_box :project_type_list, { multiple: true, class:  "form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"}, project_type, nil %>
                      </div>
                      <div class="pl-7 text-sm leading-5">
                        <label for="project_project_type_list_<%= project_type.downcase.gsub('&', '__').gsub(' ', '_') %>" class="font-medium text-gray-700">
                          <%= project_type %>
                        </label>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="mt-6 sm:mt-5">
        <div class="sm:border-t sm:border-gray-200 sm:pt-5">
          <fieldset>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                  Status project
                </legend>
              </div>
              <div class="mt-4 sm:mt-0 sm:col-span-2">
                <div class="max-w-lg">
                  <div class="relative flex items-start">
                    <label class="font-medium text-gray-700">
                      <%= f.select :status, ALL_PROJECT_STATUS, {}, {multiple: false, class: "form-select relative block w-full rounded bg-transparent focus:z-10 transition ease-in-out duration-150 sm:text-sm sm:leading-5" } %>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="participants" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Siapa yang sudah mengerjakan project ini?
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_area "participants", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Beri tahu kami tentang kamu dan rekan satu team-mu.</p>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="progress" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Seberapa jauh project-mu?
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_area "progress", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Beri tahu kami tentang kemajuan yang telah kamu buat.</p>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="docs_and_demo" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Apakah kamu memiliki demo atau dokumentasi tambahan?
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_area "docs_and_demo", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Demo dapat berupa apa saja yang menunjukkan kepada kami bagaimana produk bekerja. Docs/mockup juga BOLEH.</p>
        </div>
      </div>

      <div class="mt-6 sm:mt-5">
        <div class="sm:border-t sm:border-gray-200 sm:pt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
            <div>
              <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              Negara Target
              </legend>
            </div>
            <div class="mt-4 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg">
                <div class="relative flex items-start">
                  <label class="font-medium text-gray-700">
                    <%= f.select "target_country", get_country_fields(), {}, {multiple: false, class: "form-select relative block w-full rounded bg-transparent focus:z-10 transition ease-in-out duration-150 sm:text-sm sm:leading-5" } %>
                  </label>
                </div>
              </div>
              <p class="mt-2 text-sm text-gray-500">Apakah proyek ini hanya menargetkan orang di negara tertentu?</p>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="target_location" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Lokasi Target<br/>
          <span class="text-xs">(tidak wajib)</span>
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_field "target_location", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: false %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Negara bagian, provinsi, atau kota tertentu di negara itu?</p>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="contact" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Cara terbaik untuk berkomunikasi<br/>
          <span class="text-xs">(tidak wajib)</span>
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_field "contact", class: "flex-1 form-input block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Anda akan mendapatkan email saat ada yang ingin bergabung, tetapi mungkin ada cara lain, seperti email atau discord?</p>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="links" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Tautan yang bermanfaat<br/>
          <span class="text-xs">(tidak wajib)</span>
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_area "links", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: false %>
          </div>
        <p class="mt-2 text-sm text-gray-500">Tautan lain yang relevan, misalnya GitHub atau media sosial (Twitter/Facebook). Satu per baris.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-8 border-t border-gray-200 pt-8 sm:mt-5 sm:pt-10">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Informasi Untuk Kolaborator
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        Beri tahu kami apa yang kamu cari di kolaborator.
      </p>
    </div>

    <div class="mt-6 sm:mt-5">
      <div class="mt-6 sm:mt-5">
        <div class="sm:border-t sm:border-gray-200 sm:pt-5">
          <fieldset>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                  Apakah kamu secara aktif mencari kolaborator?
                </legend>
                <div class="text-sm text-gray-500">Kamu selalu dapat mengubahnya nanti</div>
              </div>
              <div class="mt-4 sm:mt-0 sm:col-span-2">
                <div class="max-w-lg">
                  <div class="block">
                    <%= f.radio_button :accepting_volunteers, true, checked: @project.new_record? ? true : @project.accepting_volunteers, class: "form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" %>
                    <%= f.label :accepting_volunteers, "Iya - Kolaborator akan dapat mendaftar.", value: "true", class: "pl-2 text-sm text-gray-700"  %>
                  </div>

                  <div class="block">
                    <%= f.radio_button :accepting_volunteers, false, class: "form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" %>
                    <%= f.label :accepting_volunteers, "Tidak - Kami memiliki semua orang dan sumber daya yang kami butuhkan saat ini.", value: "false", class: "pl-2 text-sm text-gray-700" %>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5 is-accepting-volunteers">
        <label for="looking_for" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Tugas apa yang perlu dilakukan?
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_area "looking_for", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: false %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Beri tahu kolaborator bagaimana mereka dapat membantu kamu. Tulis secara spesifik. Jika berhubungan dengan teknologi harap sebutkan stack-nya.</p>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 is-accepting-volunteers">
        <div class="sm:border-t sm:border-gray-200 sm:pt-5">
          <fieldset>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                  Keterampilan yang dibutuhkan
                </legend>
              </div>
              <div class="mt-4 sm:mt-0 sm:col-span-2">
                <div class="max-w-lg">
                  <% ALL_SKILLS.each do |skill| %>
                    <div class="relative flex items-start">
                      <div class="absolute flex items-center h-5">
                      <%= f.check_box :skill_list, { multiple: true, class:  "form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"}, skill, nil %>
                      </div>
                      <div class="pl-7 text-sm leading-5">
                        <label for="project_skill_list_<%= skill.downcase.gsub(' & ', '__').gsub(' ', '_') %>" class="font-medium text-gray-700">
                          <%= skill %>
                        </label>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 is-accepting-volunteers">
        <div class="sm:border-t sm:border-gray-200 sm:pt-5">
          <fieldset>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                  Jumlah kolaborator yang dibutuhkan
                </legend>
              </div>
              <div class="mt-4 sm:mt-0 sm:col-span-2">
                <div class="max-w-lg">
                  <% ALL_NUMBER_OF_VOLUNTEERS.each do |number_of_volunteers| %>
                    <div class="relative flex items-start">
                      <div class="absolute flex items-center h-5">
                        <%= f.radio_button :number_of_volunteers, number_of_volunteers, { :multiple => false, class:  "form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"} %>
                      </div>
                      <div class="pl-7 text-sm leading-5">
                        <label class="font-medium text-gray-700">
                          <%= number_of_volunteers %>
                        </label>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5 is-accepting-volunteers">
        <label for="volunteer_location" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Lokasi Kolaborator
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_field "volunteer_location", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: false %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Apakah kolaborator perlu tinggal di lokasi tertentu? Tulis "remote" jika tidak.</p>
        </div>
      </div>

      <div class="mt-6 sm:mt-5 is-accepting-volunteers">
        <div class="sm:border-t sm:border-gray-200 sm:pt-5">
          <fieldset>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                  Status Organisasi
                </legend>
              </div>
              <div class="mt-4 sm:mt-0 sm:col-span-2">
                <div class="max-w-lg">
                  <div class="relative flex items-start">
                    <label class="font-medium text-gray-700">
                      <%= f.select :organization_status, ALL_ORGANIZATION_STATUS, {}, {multiple: false, class: "form-select relative block w-full rounded bg-transparent focus:z-10 transition ease-in-out duration-150 sm:text-sm sm:leading-5" } %>
                    </label>
                  </div>

                  <div class="for-profit-warning hidden">
                    <div class="relative mt-4 text-sm text-gray-500">
                      <div class="-ml-7 top-0 absolute hidden sm:block">
                        <svg class="h-5 w-5 text-orange-400" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
                        </svg>
                      </div>
                      Kamu akan memilih <span class="text-orange-400">for-profit</span> untuk project
                    </div>
                    <div class="text-xs text-gray-500">
                      <div class="mt-4">Khusus untuk kategori <span class="text-orange-400">for-profit</span> Anda harus menyetujui bahwa kami tidak bisa diajak dan dipaksa bersangkutan dalam kegiatan bisnis Anda.</div>

                      <div class="mt-4">Karena tujuan kami adalah berkolaborasi tanpa ada ikatan kontrak kerja, dan secara sukarelawan.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="mt-8 border-t border-gray-200 pt-5">
  <div class="flex justify-end">
    <span class="ml-3 inline-flex rounded-md shadow-sm">
      <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
        <%= cta %>
      </button>
    </span>
  </div>
</div>
