<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for(:share_title).present? ? content_for(:share_title)+' | ' : '' %> Help With COVID 19 - a clearing house for projects and volunteers that want to help with the COVID-19 crisis.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/head_content' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= google_analytics_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= google_analytics_id %>');
        <%= track_ga_event_if_needed %>
      </script>
  </head>

  <body class="flex flex-col min-h-screen h-full antialiased <%= @bg_color %>">
    <div class="flex-1">
      <div class="pb-10 header">
        <%= render partial: 'layouts/nav' %>
      </div>

      <%= render partial: "partials/global-announcements" if @show_global_announcements %>

      <main class="flex-grow">
        <% if flash.present? %>
          <div class="container">
            <% flash.each do |type, msg| %>
              <div class="mb-14 <%= alert_container_class_for_flash_type type %>" role="alert">
                <span class="block sm:inline"><%= msg %></span>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <script async defer src="https://track.siapbantu.com/latest.js"></script>
    <noscript><img src="https://track.siapbantu.com/noscript.gif" alt=""/></noscript>

    <script>
      window.intercomSettings = {
        app_id: "yy2h15ny"
      };
    </script>

    <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/yy2h15ny'
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/yy2h15ny';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>

    <%= render partial: 'layouts/footer' %>
    <%= render partial: 'partials/modal' %>
  </body>
</html>
